.features {
    background-image: url('https://img.freepik.com/free-photo/multiracial-group-young-creative-people-smart-casual-wear-discussing-business-shaking-hands-together_7861-3058.jpg?w=1380&t=st=1675415456~exp=1675416056~hmac=a67d5d5d2057174e272852c6623f8b84bde089ea4b6f3ae2d863acf86f091415');
    background-repeat: no-repeat;
    background-size: cover;
}